.*
!/.gitignore
!/.bowerrc
npm-debug.log
composer.lock
/vendor/
/web/components/
/custfilequeue/
/custfiles/
/app/data/mysql/backup/
/app/config/clientcal/app.php
/app/config/clientcal/customer.php
/app/config/clientcal/mysql.php
/app/config/clientcal/geoloc.php