.*
!/.gitignore
!/.bowerrc
npm-debug.log
composer.lock
/vendor/
/web/components/
/include/settings.inc.php
/include/settings.balive.inc.php
/custfilequeue/
/custfiles/
/app/config/clientcal/app.php
/app/config/clientcal/customer.php
/app/config/clientcal/mysql.php
/app/config/clientcal/geoloc.php