.*
!/.gitignore
!/.bowerrc
npm-debug.log
composer.lock
*.sql
!/app/data/schema-sql/*/schema-dump.sql
!/app/data/schema-sql/*/schema-updates.sql
/vendor/
/web/components/
/custfilequeue/
/custfiles/
/app/config/clientcal/app.php
/app/config/clientcal/customer.php
/app/config/clientcal/mysql.php
/app/config/clientcal/geoloc.php
/web/phpinfo-*
/docker/**/data
!**.gitkeep