html {
  touch-action: manipulation;
}
.navbar {
	margin-bottom: 0;
}

.mcal-entry-item.sentrytype-estimate {
   background-color: #00FFFF;
   color: black;
}

.mcal-entry-item.sentrytype-install {
   background-color: #FFFF00;
   color: black;
}

.mcal-entry-item-dayview {
	min-height: 6em;
	width: 100%;
	text-align: left;
	
}
.mcal-entry-item-dayview div {
	min-height: 6em;
	height:100%;
	vertical-align: top;
	width:100%;
}
.mcal-entry-item-dayview p {
	padding: 0;
	margin: 0;
	display: block;
	white-space:normal;
}
.mcal-entry-item.sentrytype-refinish {
   background-color: #F0000F;
   color: white;
}

.mcal-entry-item.sentrytype-finish {
   background-color: #FF00FF;
   color: white;
}

.mcal-entry-item.sentrytype-repair {
   background-color: #1eff00;
   color: black;
}

.mcal-entry-item.sentrytype-tear_out {
   background-color: #ffb400;
   color: black;
}

.mcal-entry-item.sentrytype-sand_only {
   background-color: #FFFFFF;
   color: black;
}

.sentrytype-color-legend {
   display: inline;
}

.mcal-day {
	cursor: pointer;
}
li.mcal-day-selected  {
	background-color: gray;
}
.mcal-entry-item-dayview .mcal-entry-directions {
	font-style: italic;
}
.mcal-entry-item-dayview-heading {
	font-weight: bold;
}
















