html {
  touch-action: manipulation;
}
.navbar {
	margin-bottom: 0;
}

.sentrytype-estimate {
   background-color: #00FFFF;
   color: black;
}

.sentrytype-install {
   background-color: #FFFF00;
   color: black;
}

.mcal-entry-item-dayview {
	width: 100%;
	text-align: left;
	margin-bottom: 5px;
}
.mcal-entry-item-dayview div {
	height:100%;
	vertical-align: top;
	width:100%;
}
.mcal-entry-item-dayview p {
	padding: 0;
	margin: 0;
	display: block;
	white-space:normal;
}
.sentrytype-refinish {
   background-color: #F0000F;
   color: white;
}

.sentrytype-finish {
   background-color: #FF00FF;
   color: white;
}

.sentrytype-repair {
   background-color: #1eff00;
   color: black;
}

.sentrytype-tear_out {
   background-color: #ffb400;
   color: black;
}

.sentrytype-sand_only {
   background-color: #FFFFFF;
   color: black;
}

.sentrytype-color-legend {
   display: inline;
}

.mcal-day {
	cursor: pointer;
}
li.mcal-day-selected  {
	background-color: gray;
}
.mcal-entry-item-dayview .mcal-entry-directions {
	font-style: italic;
	display: block;
	float: left;
	width: 400px;
	white-space: pre;
	word-wrap: break-word;
	overflow-x: hidden;
	text-overflow: ellipsis;
}
.mcal-entry-item-dayview-heading {
	font-weight: bold;
}
.mcal-entry-big-icon-wrap {
	float: left;
	min-height:40px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left:5px;
	padding-right:5px;
}
.mcal-entry-wrap {
   float: left;
   padding-top: 0;
   padding-bottom: 0;
   padding-left:0;
   padding-right:0;
}
.mcal-entry-big-icon-wrap .fa  {
	display:block;
	float:left;
	font-size:2.75em;
	min-height: 35px;
	width: 45px;
	text-align: center;
}

.mcal-entry-big-icon-wrap .badge-img {
   display:block;
   float:left;
   font-size:2.75em;
   min-height: 35px;
   width: 40px;
   margin-right: 5px;
}
.mcal-entry-item.mcal-entry-item-dayview {
	padding-top: 0;
}
.mcal-entry-wrap hr {
	 display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 0;
    padding: 0; 
}

.modal-title img.badge-img {
	height: 30px;
	max-height: 30px;
}

.modal-title .fa {
   height: 30px;
   max-height: 30px;
   font-size: 1.5em;
   text-align: center;
}







