.mcal-wrap {
   max-width:1750px;
     -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
}
h1.mcal-month-heading {
   display: inline;
}
.mcal-month-heading {
   font-size: 1em;
   font-weight: bold;
}

.mcal-month-nav-button {
   height: 2em;
   text-align: center;
   border-right: 1px solid #ccc;
   border-top: 1px solid #ccc;
   display: block;
   color: black;
   width: 100%;
   border-radius: 0px;
}

ul.mcal-week {
  list-style: none;
  padding: 0;
  margin: 0;
  width:100%;
  
}

li.mcal-day {
  display: block;
  float: left;
  width: 14.285%;
  
  box-sizing: border-box;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;

  height: 10em;
  background: #f5f5f5;
}

.mcal-day-header {
   font-family: 'Droid Sans Mono';
   background: white;
   height: 1.25em;
}

.mcal-date {
  width: 1.5em;
  float: left;
  height: 1.25em;
  padding-left:0.1em;
}

.mcal-day-dow-label {
   border-left: 1px solid #666; 
   float: left;
   height: 1.25em;
   padding-left:0.1em;
}

.mcal-day-dow-separator {
   border-bottom: 1px solid #666; 
   width:100%;
   float:left;
}

.mcal-selday-header {
   background: #840084;
   color: white;
}

.mcal-other-month .mcal-day-header {
   visibility: hidden;
}

.mcal-other-month .mcal-day-items {
   visibility: hidden;
}

.mcal-other-month .mcal-day-summary {
   visibility: hidden;
}

.mcal-entry-item {
   font-weight: normal;
   font-family: Tahoma;
   font-size: 0.9em;
   border: 1px solid black;
   padding: 1px;
   margin: 0;
}

ul.mcal-day-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.mcal-day-items li {
   padding: 0;
   border:0;
   border-bottom: 1px solid #666;
   float: left;
   white-space: nowrap;
   width:100%;
   overflow: hidden;
}

.mcal-day-summary {
   display: none;
}

img.badge-img {
   max-height: 14px;
}



/* ============================
                Mobile Responsiveness
   ============================*/
@media (max-width: 768px) {

   li.mcal-day {
      height: 5em;
   }
   ul.mcal-day-items {
      display: none;
   }
   .mcal-day-summary {
      display: block;
   }

}









